build/
dist/

.env
*.env
.env.*
*.*.env
.env.*

*.log

!*.example
!*.example.*

witch*

## Ignore Lazy lockfile. I am using these configurations
#  across multiple machines & OSes, and there are constant
#  updates and conflicts because of this. Letting each machine
#  manage its own lockfile independently seems like the best way
lazy-lock.json

